* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;

}
.navbar {
    position: relative;
    width: 100%;
    height: 10%;
    background: burlywood;

}
nav {
    display: flex;
    width: 70%;
    margin: auto;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
} 
nav ul li {
    list-style: none;
    display: inline-block;
    margin:  10px 20px;
}
nav ul li a {
    color: sienna;
    text-decoration: none;
    font-weight: bold;
}
nav ul li a:hover {
    color: black;
}

.btn {
    color: rgb(70, 38, 38) ;
    font-size: 16px;
    letter-spacing: 2px;
    text-transform: uppercase;
    padding: 16px 40px;
    border-radius: 500px;
    display: inline-block;
    font-weight: 500;
    background: wheat;
    border: 2px solid chocolate;
}
.content {
    margin-left: 20%;
    margin-top: 10%;

}
.content .Title {
    color: sienna;
    font-size: 100px;
    text-transform: uppercase;
    letter-spacing: 4px;
    display: inline-block;
    margin-bottom: 20px;
}
.content h1 {
    color: sandybrown;
    font-size: 30px;
    margin-bottom: 20px;
}
.content h1 span {
    font-size: 50px;
    color: rgb(145, 121, 93);
}
.content p {
    font-size: 20px;
}
.content a {
    background: gray;
    padding: 10ox 18px;
    text-decoration: none;
    font-weight: bold;
    display: 30px 0;
    border-radius: 5px;
}
.content p {
    color: sienna;
    line-height: 22px;
}
.content1 {
    margin-left: 8%;
     margin-top: 15%;
}
.content1 p {
    color: sienna;
    line-height: 22px;
    font-size: 18px;
}
.content1 h2 {
    color: sandybrown;
    font-size: 30px;
    margin-bottom: 20px;
}

.image {
    width: 30%;
    height: 85%;
    position: absolute;
    bottom: 0;
    right: 100px;
}
.image img {
    height: 100%; 
    position: absolute;
    left: 70%;
    bottom: 0;
    transform: translateX(-40%);
    transition: bottom 1s, left 1s;
}
 * {
    font-family: sans-serif;
    margin: 20px;
 }
form {
    max-width: 20%;
    background-color: burlywood;
}

input,
textarea {
    max-width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
}

button {
    background-color: rosybrown;
    color: black;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: chocolate;
}

.footer {
    position: absolute;
    width: 100%;
    height: 10%;
    background: burlywood;
    
}
.footer ul li {
    list-style: none;
    display: inline-block;
    margin: 10px 20px;
}
.footer ul li a {
    color: sienna;
    text-decoration: none;
    font-weight: bold;
}
.footer ul li a:hover {
    color: black;
}